@import "../import.scss";

.home_text {
  padding: 3rem 0 1.5rem 0;
}

// news
.center {
  height: 100vh;
}

// news page
.news_page {
  display: flex !important;
  padding-top: 1rem !important;

  .news_tab_list {
    display: flex !important;
    flex-direction: column !important;
    gap: 1rem !important;

    .news_tab {
      border-radius: 0.5rem !important;
    }
  }
}

@media only screen and (max-width: 600px){
  .news_page{
    flex-direction: column !important;
  }
}