@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// font family
$font-primary: "Playfair Display",
  sans-serif;

$font-secondary: "Roboto",
  sans-serif;

// color
$primary: rgba(18, 18, 33, 1);

$secondary: rgba(248, 248, 248, 1);

$thirtary:rgba(148, 148, 148, 1);

$primaryShade1: rgba(68, 68, 68, 1);